.outer-square {
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.inner-square {
  width: calc(100%-20px);
  height: calc(100%-20px);
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.circle {
  background-color: blue;
  border-radius: 50%;
}
