.outer-square {
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: grid;
  gap: 10px;
}
.inner-square {
  padding: 10px;
  background-color: green;
  align-items: center;
  justify-content: center;
}
.circle {
  background-color: blue;
  border-radius: 100%;
}
